{{> 'partials/header'}}
<hr>
<h1>{{Title}}</h1>

<ul>
  {{#each Newses}}
    <li>
      <a href="#">{{this.Title}}</a>
      <p>{{this.Content}}</p>
      <small>{{this.Author.FullName}} - {{this.Author.Email}}</small>
    </li>
  {{/each}}
</ul>

{{> 'partials/footer'}}