{{> 'partials/header'}}
<hr>
<h1>{{Title}}</h1>

<div class="grid">
  {{#each Newses}}
    <div class="news-card">
      <a href="/news/{{this.ID}}">{{this.Title}}</a>
      <p>{{this.Content}}</p>
      <small>{{this.Author.FullName}} - {{this.Author.Email}}</small>
      <code>{{this.Author.Email}}</code>
    </div>
  {{/each}}
</div>

{{> 'partials/footer'}}