{{> 'partials/header'}}
<hr>

<main class="container">
<div class="grid grid-cols-4 gap-4 py-4">
  {{#each Newses}}
    <div class="border rounded p-2">
      <a class="text-blue-500" href="/news/{{this.ID}}">{{this.Title}}</a>
      <p>{{this.Content}}</p>
      <small>{{this.Author.FullName}} - {{this.Author.Email}}</small>
      <code>{{this.Author.Email}}</code>
    </div>
  {{/each}}
</div>
</main>
{{> 'partials/footer'}}