{{> 'partials/header'}}

<h1>{{Title}}</h1>

<ul>
  {{#each Newses}}
    <li>
      {{this.Title}}
      <p>{{this.Content}}</p>
      <small>{{this.Author.FullName}} - {{this.Author.Email}}</small>
    </li>
  {{/each}}
</ul>

{{> 'partials/footer'}}